##################
# LED ASSIGNMENT #
##################

[neopixel T0_leds]
pin: NHK0:gpio7
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[neopixel T1_leds]
pin: NHK1:gpio7
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[neopixel T2_leds]
pin: NHK2:gpio7
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[neopixel T3_leds]
pin: NHK3:gpio7
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[neopixel T4_leds]
pin: NHK4:gpio7
chain_count: 1
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

##########################
# LED Effects Animations #
##########################

##################
## logo effects ##
##################

[led_effect logo_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
    breathing  3 1 top (1,0,0)

[led_effect logo_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5, 0)

[led_effect logo_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
        breathing  3 1 top (0.0, 0.0, 0.35, 0)

[led_effect logo_heating]
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (1, 0.18, 0, 0)

[led_effect logo_cooling]
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (0, 0, 1, 0)

[led_effect logo_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
        breathing  3 1 top (0.0, 0.6, 0.2, 0)

[led_effect logo_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4, 0)

[led_effect logo_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
        breathing  3 1 top (0.2, 1.0, 0.0, 0)

[led_effect logo_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0, 0),(0.3, 0.3, 0.0, 0),(0.3, 0.1, 0.0, 0)

[led_effect logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01, 0)

[led_effect logo_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
layers:
        breathing  3 1 top (0.0, 1.0, 0.0, 0)


#####################
## all led effects ##
#####################

[led_effect critical_error]
leds:
    neopixel:T0_leds
    neopixel:T1_leds
    neopixel:T2_leds
    neopixel:T3_leds
    neopixel:T4_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0, 0)
    static         1  0     top        (1.0,  0.0, 0.0, 0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true



#######################
# LED Effects Statics #
#######################


[led_effect set_logo_leds]
leds:
    neopixel:T0_leds (1)
    neopixel:T1_leds (1)
    neopixel:T2_leds (1)
    neopixel:T3_leds (1)
    neopixel:T4_leds (1)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (.5, .5, .5)

    