[include mainsail.cfg]

[include options/probe/cartographer.cfg]

[include options/shake_tune.cfg]

[include ./KAMP/KAMP_Settings.cfg]
[include ./KAMP/Line_Purge.cfg]
#[include ./KAMP/Smart_Park.cfg]

[include options/led_effect/nhk-led.cfg]
[include options/led_templates/*.cfg]
[include options/lcd/*.cfg]

[include options/nest.cfg]

[include macros.cfg]

[include timelapse.cfg]

#[include options/heater_power_distributor.cfg]
#[include toolchanger/dock_tuner.cfg]
[include toolchanger/readonly-configs/toolchanger-include.cfg]


[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0C0032000651323235363233-if00

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 15000
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 80
#max_z_velocity: 20 # Default
max_z_accel: 700 
square_corner_velocity: 5.0

#####################################################################
# MOTOR CONFIGS
#####################################################################

############## M8P Mainboard Motor1
[autotune_tmc stepper_x]
motor: ldo-42sth48-2804ah
#sg4_thrs: 65
sgt: 3
voltage: 24
tuning_goal: performance

#[autotune_tmc stepper_x]
#motor: Shengyang-42BYGH2904-A-24NQ1
#sg4_thrs: 100
#voltage: 24
#tuning_goal: performance

[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
#rotation_distance: 39.76
rotation_distance: 40
microsteps: 32 #16
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 45
homing_retract_dist: 0
homing_positive_dir: True

[tmc5160 stepper_x]
cs_pin: PC13           # TMC5160T
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: True
run_current: 2.10            # New LDO Motors
sense_resistor: 0.075        # New LDO Motors on TMC5160T
diag1_pin: ^!PF4


############## M8P Mainboard Motor2
[autotune_tmc stepper_y]
motor: ldo-42sth48-2804ah
#sg4_thrs: 60
sgt: 3
voltage: 24
tuning_goal: performance

#[autotune_tmc stepper_y]
#motor: Shengyang-42BYGH2904-A-24NQ1
#sg4_thrs: 100
#voltage: 24
#tuning_goal: performance

[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
#rotation_distance: 39.80    
rotation_distance: 40
microsteps: 32 #16
full_steps_per_rotation: 200   
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: -5.5             
position_endstop: 358.5
position_max: 358.5
homing_speed: 45              
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PE3           # TMC5160T
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: True
run_current: 2.10            # New LDO Motors
sense_resistor: 0.075        # New LDO Motors on TMC5160T
diag1_pin: ^!PF3

############## M8P Mainboard Motor5
[autotune_tmc stepper_z]
motor: ldo-42sth40-1684ac
voltage: 24
tuning_goal: performance

[stepper_z]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # Beacon and Carto needs this to be set to 0      
position_max: 340
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
#homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PG14
interpolate: True
run_current: 0.90
sense_resistor: 0.110

############## M8P Mainboard Motor4
[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684ac
voltage: 24
tuning_goal: performance

[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32
endstop_pin: probe:z_virtual_endstop 

[tmc2209 stepper_z1]
uart_pin:PB5
interpolate: True
run_current: 0.90
sense_resistor: 0.110

############## M8P Mainboard Motor3
[autotune_tmc stepper_z2]
motor: ldo-42sth40-1684ac
voltage: 24
tuning_goal: performance

[stepper_z2] ##motherboard：Z1
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z2]
uart_pin: PB9
interpolate: True
run_current: 0.90
sense_resistor: 0.110

############## M8P Motor6
[autotune_tmc stepper_z3]
motor: ldo-42sth40-1684ac
voltage: 24
tuning_goal: performance

[stepper_z3] ##motherboard：Z4
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 32
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: True
run_current: 0.90
sense_resistor: 0.110

#####################################################################
#####################################################################

#[safe_z_home]
#home_xy_position: 165, 165 # update for your machine
#z_hop: 3

[heater_bed]
heater_pin: PA1
sensor_type: ATC Semitec 104GT-2
sensor_pin: PB1
max_power: 1.0               
min_temp: 5          
max_temp: 105                
#control: pid
#pid_kp: 76.381
#pid_ki: 0.648
#pid_kd: 2251.325


[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[temperature_fan system_fan]
# Electronics fan PWM
pin: PA2
tachometer_pin: PC1
max_power: 1.0
hardware_pwm: False
#control: watermark
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
sensor_type: temperature_host
min_temp: 10
max_temp: 80
target_temp: 40
max_speed: 1.0
min_speed: 0.5
shutdown_speed: 1.0
kick_start_time: 0.8
cycle_time: 0.02

#[temperature_fan chamber]
#pin: PA2
#tachometer_pin: PC1
#max_power: 1.0
#hardware_pwm: False
##control: watermark
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#sensor_type: Generic 3950
#sensor_pin: PB0
#min_temp: 0
#max_temp: 70
#target_temp: 35
#max_speed: 1.0
#min_speed: 0.5
#shutdown_speed: 1.0
#kick_start_time: 0.8
#cycle_time: 0.02


[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
    50,60    # Point 1
    50,300   # Point 2
    300,300  # Point 3
    300,60   # Point 4
speed: 300
#speed: 300
horizontal_move_z: 10       
retry_tolerance: 0.008
retries: 5                 
max_adjust: 10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

[temperature_sensor MCU_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

#####################################################################
# LED Control
#####################################################################
#[output_pin chamber_light]
# Chamber Lighting - HE3 Connector (Optional)
#pin: PA5
#pwm:True
#shutdown_value: 0
#value:1
#cycle_time: 0.010

#[led chamber_light]
#white_pin: PA5
#cycle_time: 0.010
#hardware_pwm: False
#initial_WHITE: 1.0
#####################################################################
#####################################################################

[resonance_tester]
accel_chip: adxl345 T0
sweeping_accel: 400
sweeping_period: 0
probe_points: 175, 175, 20

[firmware_retraction]

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[gcode_arcs]                       
resolution: 1.0        

[pause_resume]

[exclude_object]

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.082960, -0.025276, -0.070717, -0.116751, -0.120571, -0.084392, -0.089830, -0.066433, -0.025914, -0.092270
#*# 	  -0.014665, -0.007606, -0.026798, -0.025957, -0.063526, -0.062972, -0.034660, -0.030013, -0.028869, -0.023976
#*# 	  -0.008245, 0.028813, 0.028372, 0.029213, -0.028982, -0.000302, 0.018634, 0.038282, 0.033800, -0.026931
#*# 	  -0.007675, 0.021883, 0.015817, 0.020409, 0.040963, -0.003482, -0.022046, 0.016352, 0.024995, -0.031986
#*# 	  -0.010684, 0.013250, 0.025934, 0.017400, 0.017330, 0.008510, 0.008696, 0.005844, -0.006138, -0.046244
#*# 	  -0.065592, -0.006033, -0.030849, -0.013133, -0.013203, -0.008898, -0.018087, -0.015314, -0.034796, -0.084277
#*# 	  -0.021328, 0.026980, 0.050914, 0.046130, 0.029185, 0.027865, 0.024302, 0.032699, 0.000092, -0.051264
#*# 	  -0.044757, 0.044801, 0.055611, 0.043327, 0.009506, -0.001189, -0.002878, 0.003645, -0.010211, -0.074693
#*# 	  -0.074253, -0.031569, 0.001740, 0.008206, -0.006864, -0.021310, -0.024872, -0.014601, -0.004082, -0.061063
#*# 	  -0.086873, -0.068564, -0.080256, -0.055040, -0.107609, -0.095804, -0.059993, -0.074096, -0.012952, -0.062434
#*# min_x = 25.0
#*# min_y = 25.0
#*# max_x = 324.96999999999997
#*# max_y = 324.9699999999999
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.649
#*# pid_ki = 0.501
#*# pid_kd = 2087.345
