# This file contains pin mappings for the LDO Nitehawk-36 Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See https://docs.ldomotors.com/en/Toolboard/nitehawk-36#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-SB Toolboard Partial Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] sections

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

[mcu A4T_nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_3033393834064E65-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Endstops
#####################################################################
## XES - Toolhead PCB
#[stepper_x]
#endstop_pin: nhk:gpio13

#####################################################################
#   Filament Sensor
#####################################################################

#[filament_switch_sensor Toolhead_Sensor]
#pause_on_runout: True
#runout_gcode: 
#insert_gcode: 
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: nhk:gpio3

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: A4T_nhk:gpio23
dir_pin: A4T_nhk:gpio24
enable_pin: !A4T_nhk:gpio25
microsteps: 16
rotation_distance: 27.9328896												#Be sure to calibrate
gear_ratio: 44:8, 25:17
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: A4T_nhk:gpio9

sensor_type: Generic 3950
sensor_pin: A4T_nhk:gpio29
pullup_resistor: 2200

#sensor_type: PT1000
#sensor_pin: A4T_nhk:gpio29
#pullup_resistor: 2200

min_temp: 0
max_temp: 300
min_extrude_temp: 170
#max_extrude_only_distance: 1000 # pre Box Turtle Setting
max_extrude_only_distance: 400
#max_extrude_cross_section: 30 # Pre Box Turtle Setting
max_extrude_cross_section: 50
pressure_advance: 0.052                                             #Be sure to calibrate
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: A4T_nhk:gpio0
tx_pin: A4T_nhk:gpio1
interpolate: false
run_current: 0.55                        #.45 minimum offers 12N of force. DO NOT EXCEED .55A as it will cause excess heat.

#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: A4T_nhk:gpio6
kick_start_time: .3
off_below: 0.1

## HEF
[heater_fan hotend_fan]
pin: A4T_nhk:gpio5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
## Speed ​​monitoring:
tachometer_pin: A4T_nhk:gpio16
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

## PCB Activity Light
[output_pin act_led]
pin: !A4T_nhk:gpio8

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: A4T_nhk:gpio27
spi_software_sclk_pin: A4T_nhk:gpio18
spi_software_mosi_pin: A4T_nhk:gpio20
spi_software_miso_pin: A4T_nhk:gpio19

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

probe_points:
    175, 175, 20

#####################################################################
#   Addtional Sensors
#####################################################################
[temperature_sensor NH36]
sensor_type: temperature_mcu
sensor_mcu: A4T_nhk
min_temp: -250
max_temp: 100

