[heater_power_distributor toolheads]
heaters: extruder, extruder1, extruder2, extruder3, extruder4
max_power: 250
powers: 80, 80, 80, 80, 80            # rated W per heater, defaults to 60
poll_interval: 0.5
#model: dragon_ace
active_extruder_boost: 1.8